<%- include("./partials/header", {user: user, isAuth: isAuth}) %>

<div class="ui w-70 segment">
    <form action="/posts/search" method="GET">
        <input type="text" name="query" />
        <button>Search</button>
    </form>
</div>

<div id="#searchResults">

    <% if(posts.length === 0) { %>

        <div class="ui raised very padded text w-70 segment">

            <span>No posts matched your search</span>

        </div>

    <% } %>

    <% posts.reverse().forEach(post => { %> 

        <div class="ui raised very padded text w-70 segment">

            
            <h2 class="ui header"><%= post.title.titleCase() %></h2>
            <caption>by <a href="/<%= post.blogurl %>"><%= post.author %></a></caption> - <time><%= post.created.fulldate.formatDate() %></time>
            <br /><br />
            <p><%- post.body.substring(0, 3000) %></p>

            <div class="ui center aligned basic segment">
                <a href="<%= `/posts/${post.created.year}/${post.created.month}/${post.created.day}/${post.title.replace(/\s/g, "-")}` %>">
                    <button class="ui button primary">Read More</button>
                </a>
            </div>

            <div class="ui tiny horizontal list">

                <div class="item">Tags: </div>
                <% if(post.tags.length !== 0) {
                    post.tags.forEach(tag => { %>
                
                    <div class="item"><i><a href="/posts/search?tag=<%= tag %>"><%= tag %></a></i></div>

                    <% }); 
                    } else { %>

                    <div class="item">none</div>

                <% } %>
        
            </div>

        </div>

    <% }); %>
</div>





<% include ./partials/footer %>