<% include ./partials/header %>



<div class="ui main very padded text w-70 segment">

    <h1><%= post.title.titleCase() %></h1>

    <p><%- post.body %></p>

    <div>
        <a href="/posts/<%= post._id %>/edit">
            <button class="ui button orange">Edit</button>
        </a>
        <form class="ib" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button class="ui button red">Delete</button>
        </form>
        <div class="fl-r">
            <button id="likeBtn" class="ui button">Like <span id="likeNum"><%= post.likes %></span></button>
            <button id="dislikeBtn" class="ui button">Dislike <span id="dislikeNum"><%= post.dislikes %></span></button>
        </div>
    </div>

    <div class="fb-share-button" data-href="https://dp358-blog-software.herokuapp.com/posts/<%= post.created.year %>/<%= post.created.month %>/<%= post.created.day %>/<%= post.title.toLowerCase().replace(/\s/g, "-") %>" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://dp358-blog-software.herokuapp.com/posts/<%= post.created.year %>/<%= post.created.month %>/<%= post.created.day %>/<%= post.title.toLowerCase().replace(/\s/g, "-") %>&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div> %>

</div>

<script>

    let postID = "<%= post._id %>";

</script>

<script src="/js/handle-requests.js"></script>

<% include ./partials/footer %>