<%- include("../partials/header", {user: user, isAuth: isAuth}) %>

<div class="ui main text w-70 segment">

    <form id="newPost" class="ui form" autocomplete="off" action="<%= `/posts/${post.created.year}/${post.created.month}/${post.created.day}/${post.title.replace(/\s/g, "-")}` %>?_method=PUT" method="POST">

        <div class="field">
            <input id="titleInput" type="text" name="post[title]" placeholder="Title" value="<%= post.title %>" required/>
        </div>

        <div class="field">
            <div class="div-input" type="text">
                <input class="tag-input" type="text" placeholder="Add Tag..." />
                <input id="hiddenTag" type="hidden" name="post[tags]" value="<%= post.tags %>" />
            </div>
        </div>

        <div class="field">
            <textarea id="bodyInput" name="post[body]" placeholder="What do you have to say..." required><%= post.body %></textarea>
        </div>

        <button class="ui primary button">Post</button>

    </form>

</div>

<%# PREVIEW %>

<div class="ui raised very padded text w-70 segment">

    <h2 class="ui header" id="previewTitle"><%= post.title.titleCase() %></h2>
    <time id="previewTime"></time>
    <br /><br />
    <p id="previewBody"><%= post.body %></p>

</div>

<script src="/js/post/tag-input2.js"></script>
<script src="/js/post/post-preview.js"></script>

<% include ../partials/footer %>